<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMovieService" />
                <binding name="BasicHttpBinding_IPeopleService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/MovieService/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMovieService" contract="MovieService.IMovieService"
                name="BasicHttpBinding_IMovieService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ActorsAndDirectors/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPeopleService"
                contract="PeopleService.IPeopleService" name="BasicHttpBinding_IPeopleService" />
        </client>
    </system.serviceModel>
</configuration>